@model List<JavascriptTemplates.Models.VideoGame>

<div class="" id="games-container">
    <div class="">
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" type="button" id="add-game-item" aria-haspopup="true" aria-expanded="true">
                Add Games
            </button>
        </div>
        <h5>Games</h5>
    </div>
    <div class="">
        <table id="games-table" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Star Rating</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>