@using JavascriptTemplates.Models
@model VideoGamesList

<div class="" id="games-container">
    <div class="mb-2">
        <div class="float-right">
            <button class="btn btn-sm btn-primary" type="button" id="add-game-item" aria-haspopup="true" aria-expanded="true">
                Add Game
            </button>
        </div>
        <h5>Games</h5>
    </div>
    <div class="">
        <table id="games-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Star Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="games-table-body">
              
            </tbody>
        </table>
        <div class="float-right">
            <button id="save-button" class="btn btn-sm btn-success">Save</button>
        </div>
    </div>
</div>

@section scripts{

    <script id="table-body-template" type="text/x-handlebars-template">

        <tr>
            <td>{{name}}</td>
            <td>{{genre}}</td>
            <td>
                {{#each stars}}
                <i class="fa fa-star"></i>
                {{#each}}
            </td>
            <td><button class="btn btn-light float-right" data-delete><i class="fa fa-trash"></i></button></td>
        </tr>

    </script>
    
    <script id="new-row-template" type="text/x-handlebars-template">

        <tr>
            <td><input type="text" name="Name" class="form-control" /></td>
            <td>
                <select class="form-control" name="Genres[{{key}}].ProductItemId">
                    {{#itemList}}
                    <option value="{{val}}" {{#selected}} selected="selected" {{/selected}}>{{text}}</option>
                    {{/itemList}}
                </select>
            </td>
            <td>
                {{#each stars}}
                <i class="fa fa-star"></i>
                {{#each}}
            </td>
            <td><button class="btn btn-light float-right" data-delete><i class="fa fa-trash"></i></button></td>
        </tr>

    </script>

    <script>

        $(function() {

            var starTotal = 3;

            var videoGames = @Html.Raw(Json.Serialize(Model.VideoGames));

            var genres = @Html.Raw(Json.Serialize(Model.Genres));

            var options = GetSelectList(genres);
            var ratings = GetSelectList(["one", "two", "three"]);

            var newRow = '<tr>' +
                '<td><input type="text" name="Name" class="form-control"/></td>' +
                '<td>' +
                options +
                '</td>' +
                '<td>' +
                ratings +
                '<td><a href=""><i class="fa fa-trash"></i></a></td>'+
                '</tr>' ;


            function GetSelectList(optionsList) {
                var frag = '<select class="form-control">';
                for (var i = 0; i < optionsList.length; i++) {
                    frag += '<option value="' + optionsList[i] + '">' + optionsList[i] + '</option>';
                }
                frag += '</select>';
                return frag;
            };



            $('div#games-container').off('click', '#add-game-item');
            $('div#games-container').on('click',
                '#add-game-item',
                function () {

                    $('#games-table-body').append(newRow);

                    return false;
                });


            $('div#games-container').off('click', '[data-delete]');
            $('div#games-container').on('click',
                '[data-delete]',
                function () {
                    $(this).parents('tr').remove();
                    return false;
                });
        });

    </script>
}